<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
     <link rel="apple-touch-icon" sizes="180x180" href="/imagens/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/imagens/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/imagens/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/imagens/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/imagens/favicon/favicon-16x16.png">
    <link rel="manifest" href="/imagens/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/imagens/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Nextia Celular :: Página Principal</title>
    {{!-- Bootstrap--}}
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    {{!--CSS--}}
    <link rel="stylesheet" href="../public/css/style.css">
    <!--<link rel="stylesheet" href="css/home.css">-->
</head>

<body>
    {{>menu}}
  
    {{{body}}}

    {{>footer}}

   

</body>

</html>