<main>
    {{!-- Formulario --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Nome do produto">
                    </div>                                
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Descrição do produto">
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" placeholder="Valor do produto">
                    </div>
                    <div class="mb-3"> 
                        <input type="file" class="form-control">
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelProduto">Novo Cadastro</button>
                </form>
            </div>
        </div>
    </div>

    <!-- A Modal -->
    <div class="modal" id="modelProduto">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Cabeçalho da Modal -->
          <div class="modal-header">
            <h4 class="modal-title">Confirmação de Cadastro</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Corpo da Modal -->
          <div class="modal-body">
            <p>Produto cadastrado com sucesso!</p>
          </div>

          <!-- Rodapé da Modal -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <!-- Adicione outros botões ou ações conforme necessário -->
          </div>

        </div>
      </div>
    </div>
</main>