

form{
    margin-top: 30px;
}
form input{
    margin-top: 10px;
}
.card{
    margin-top: 40px;
    padding: 5px;
}
.textos{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-weight: bold;
}
.card a{
    margin-top: 5px;
}
.card img {
    width: 100%; /* a imagem ocupará 100% da largura do contêiner pai (.card) */
    height: 150px; /* altura desejada da imagem */
    object-fit: cover; /* para manter a proporção da imagem e cobrir o contêiner */
  }